<!DOCTYPE html>
<html>
<head>
    <title>404</title>
</head>
<body style="background: #fafafa">
    <br><br><br><br>
    <div align="center">
        <h1>Oops !!</h1>
        <h2>Désolez, nous n'avons pas trouvé la page que vous recherchez.</h2>
        <p>
            <a href="{{url('/')}}">Retourner sur la page d'acceuil</a>
        </p>
    </div>

</body>
</html>


&.+$ZXnvZ[ph